.ProfEducationWrapper {
  display: block;
  min-height: 1700px;
  width: 100%;
  background-color: #f3f6fa;
}
.ProfEducationContainer {
  margin-left: 10%;
  margin-right: 20%;
  padding-top: 100px;
}
.ProfEducationCaptionHead > h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #000000;
}
.ProfEducationCaptionHead > p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #000000;

  margin-bottom: 0px;
  margin-top: 30px;
}
.ProfEducationCaptionHead > p:last-child {
  margin-top: 20px;
}
.ProfEducationAboutCourse {
  margin-top: 60px;
}
.ProfEducationAboutCourse > h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  text-transform: uppercase;

  color: #b20000;
}

.ProfEducationAboutCourse > p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 0px;
  margin-top: 20px;
  color: #000000;
}

.ProfEducationAboutPeople {
  margin-top: 50px;
}
.ProfEducationAboutPeople > h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  text-transform: uppercase;

  color: #000000;
}

.ProfEducationAboutPeople > p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 0px;
  margin-top: 20px;
  color: #000000;
}
.ProfEducationProgrammCourse {
  margin-top: 50px;
}
.ProfEducationProgrammCourse > h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #000000;
}
.ProfEducationProgrammCourseContainer {
  margin-top: 23px;
}
.ProfEducationProgrammCourseContainerEllipse {
  display: block;
  margin-top: 10px;
  max-width: 100%;
}

.firstchildEllipse {
  margin-top: 200px;
}

.ProfEducationProgrammCourseContainerEllipse > div {
  display: inline-block;
}

.ProfEducationProgrammCourseTextContainerEllipseP1 {
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-top: 10px;
  color: #000000;
}
.ProfEducationProgrammCourseEllipse {
  min-width: 9px;
  min-height: 9px;
  background: linear-gradient(
    180deg,
    rgba(244, 0, 130, 0.85) 0%,
    rgba(195, 22, 132, 0.79) 44.44%,
    rgba(186, 26, 133, 0.73) 51.74%,
    rgba(180, 28, 133, 0.75) 56.42%,
    rgba(133, 49, 135, 0.91) 100%
  );
  border-radius: 50%;
  margin-bottom: 3px;
}
.ViewCurriculum {
  margin-top: 40px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;

  color: #0d17fe;

  opacity: 0.9;
}
.LearningOutcome {
  margin-top: 50px;
}
.LearningOutcome > h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  text-transform: uppercase;
  margin-top: 50px;
  color: #000000;
}
.LearningOutcomeUnderText {
  margin-top: 40px;
}
.LearningOutcomeUnderText > p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;

  color: #000000;

  opacity: 0.8;
}
.ProfEducationPriceGrid {
  margin-top: 51px;
  border: solid #b20000;
  height: 200px;
  width: 57%;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.ProfEducationPriceGrid > p {
  margin-top: 16px;
  margin-left: 10px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #000000;

  opacity: 0.9;
}
