#IntroContactsWrapper {
  min-height: 600px;
  width: 100%;
  background: #f3f3f3;
  /*background: linear-gradient(180deg, #ececec 0%, #9cb9d1);*/
  display: grid;
  grid-template-rows: none;
  grid-template-columns: 1fr 1fr;
}
.IntroContacts {
  margin-left: 77px;
  margin-top: 117px;
}
.ContactsBlock {
  width: 600px;
  height: 75px;
  display: grid;
  grid-template-columns: 40px 1fr;
}
.ContactsBlock > p {
  margin-left: 25px;
  margin-top: 8px;
  font-size: 20px;
  align-items: center;
  color: #000000;
  line-height: normal;
}
.Map {
  border: solid;
  height: 95%;
  width: 95%;
  margin: 15px;
  margin-right: 10px;
}
#tIntroContacts {
  position: absolute;
  transform: translate(0px, -80px);
  z-index: 1000;
}
