.ImageSlider {
  background-color: #759cd8;
  padding-top: 90px;
  opacity: 1;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 1;
  grid-column-end: 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 100%;

  font-family: sans-serif;
  text-align: center;
}

.Carousel {
  opacity: 0.9;
  background-color: #759cd8;
}
.SliderHeadingEGEMain > h1 {
  font-weight: bold;
  color: #ffffff;
  font-size: 40px;
}
.SliderHeadingEGEMain > h4 {
  margin-top: 20px;
  color: #ffffff;
  font-size: 15px;
  font-family: sans-serif;
}
.SliderHeadingEGEMain > div > div > p {
  color: #ffffff;
  font-size: 15px;
  font-family: sans-serif;
  display: inline-block;
  margin: 0px 40px 0px 10px;
}

.SliderHeading {
  position: absolute;
  display: column;
  z-index: 998;
  margin: 10% 0px 0px 5%;
  height: auto;
  width: auto;
  text-align: left;
}

.SliderHeading > div {
  padding: 20px 0 0 0;
}
.SliderHeading > div:last-child {
  padding: 40px 0 0 0;
}
.SliderHeadingEGEMain {
  display: block;
}
.Carousel {
  opacity: 1;
  background-color: #ffffff;
}

.ButtonSlider {
  background-color: #094d74;
  height: 30px;
  width: 120px;
  filter: drop-shadow(5px 5px 4px rgba(117, 156, 216, 0.71));
  text-decoration: none;
  user-select: none;
  outline: none;
  border-radius: 3px;
  border: none;
  background: linear-gradient(180deg, #f40082 0%, rgba(133, 49, 135, 0.7) 100%);
  border-radius: 50px;
}

.SliderSlideBackground {
  background-color: #84a4b6;
}
.SliderSlideBackgroundSecond {
  background-color: #d4d4d4;
}
.SliderSlide {
  opacity: 1;
  background-color: #ffffff;
  color: #ffffff;
}
.SliderSlideSecond {
  opacity: 1;
}

.SliderHeadingEGEMainText {
  display: block;
  text-align: left;
  margin-top: 20px;
}

.SliderHeadingEGEMainTextImg {
  display: inline-block;
  text-align: left;
}

.SliderHeadingEGEMainText > div {
  display: inline;
}

#TNextPage {
  position: absolute;
  margin-top: 300px;
}
